<h1>Welcome to my Friends List</h1>
<h2>This is a simple rails refresher project after some vacations</h2>
<br><br/>
<ol class="list-group list-group-numbered">
  <li class="list-group-item">You can create a new friend and add his details to a friends list</li>
  <li class="list-group-item">You can delete a friend</li>
  <li class="list-group-item">You can update a friends contact information</li>
  <li class="list-group-item">You can display all friends</li>
</ol>
